@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(40deg, rgb(15, 36, 68), rgb(109, 122, 122));
}

#root {
  height: 100vh;
  width: 100wh;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 150);
    border: 1px solid #f6f7ed;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}